
<% Stock.where(:active => true).order(:symbol).each do |stock|%>
    <% trend = stock.trend %>
	<span class="symbol"><%= stock.symbol %></span>
	<span class="price u"><%= format_u stock.price  %></span>
	<span class="percentage"><%= format_trend trend %></span>
	<span class="indicator">
        <% if trend > 0 %>
            <abbr class="indicator-up">▲</abbr>
        <% elsif trend == 0 %>
            <abbr class="indicator-neutral">■</abbr>
        <% elsif trend < 0 %>
            <abbr class="indicator-down">▼</abbr>
        <% end %>                
    </span>
    
<% end %>
