UTOPIA STOCK EXCHANGE <span class="countdown scroll-highlight" data-countdown-to="<%= @market_session.created_at.to_i + (@market_session.duration * 60) %>" data-url="/market_sessions/end/<%= @market_session.id %>"></span>&nbsp; 
