UTOPIA STOCK EXCHANGE <span class="countdown scroll-highlight" data-countdown-to="<%= @market_session_end_seconds %>" data-url="/market_sessions/end/<%= @market_session.id if !@market_session.nil? %>"></span> bis zum Ende dieser Handelsphase&nbsp; 
