<h2>USX</h2>

<div id="chart-usx" style="height: 500px; width: 100%;">
</div>

<% Stock.where("active=true").each do |s| %>
<div class="chart" id="chart-<%= s.symbol %>" data-symbol="<%= s.symbol %>" data-id="<%= s.id %>" data-title="<%= s.symbol %>" style="height: 300px; width: 100%;">
</div>
<% end %>