<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vielen Dank!</h1>

		<%= render partial: 'utopias/show_public' %>

  </body>
</html>