<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vielen Dank für Ihre Enreichung.</h1>
		<p>Ihre Utopie wird nun geprüft. Wir melden uns.</p>
		<p>Ihr Utopia Stock Exchange Team</p>	
  </body>
</html>