<% if @transaction.seller.role == 'player' %>
    <%= render :partial => 'users/portfolio', :locals => {:user => @transaction.seller} %>
<% else %>
    <span id="utopist_seller"></span>
<% end %>

<% unless @transaction.transaction_type_id == 1 %>
    <%= render :partial => 'users/portfolio', :locals => {:user => @transaction.buyer} %>
<% end %>

